.header__icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;

    fill: currentColor;
}

.header__icon:hover,
.header__icon:focus {
    color: var(--accent-color);
}

.header .link {
    color: var(--tittle-text-color);
}
